<div class="hello">
    <div class="header">
        我是header 爱的发顺丰 A
    </div>
    <p>我是一个He llo cc </p>
  <p>我是一个He llo cc </p>
    <p>
        <img src='./../imgs/hello/jiaoyi01.png'>
    </p>
    <div ng-click="vm.sayHello()">
        <p class="text1">一号字一号色</p>
        <p class="text2">二号字二号色</p>
        <p class="text3">三号字三号色</p>
        <p class="text4">四号字四号色</p>
        <div class="button-radius">按钮</div>
    </div>
    <div class="footer">
        我是footer
    </div>
</div>
