<!--实名认证-->
<ul>
  <li>
    <div>
      <img>
      实名认证
    </div>
  </li>
  <li>
    <img>
  </li>
  <li>
    <div>
      <img>
      实名认证
    </div>
  </li>
  <li>
    <img>
  </li>
  <li>
    <div>
      <img>
      实名认证
    </div>
  </li>
  <li>
    <img>
  </li>
  <li>
    <div>
      <img>
      实名认证
    </div>
  </li>
</ul>

<ul>
  <li><img><input type="text"></li>
  <li><img><input type="text"></li>
  <li>
    <img><span></span><span></span>
  </li>
  <li>
    <img><span></span><span></span>
  </li>
  <li>
    <img><span></span><span></span>
  </li>
  <li>
    <img><span></span><span></span>
  </li>
  <li><img><input type="text"></li>
  <li><img><input type="text"></li>
  <li><img><input type="text"><span></span></li>
  <li><input type="button" value="下一步"></li>
</ul>
