<!--<header>-->
<!--费率计算-->
<!--</header>-->
<!--<div class="detail">-->
<!--<div class="left">-->
<!--<p><img>借款期限:<span>25</span>天</p>-->
<!--<p><img>到账金额:<span>25</span>元</p>-->
<!--<p class="text">30元为认证费，由平台提前划扣</p>-->
<!--</div>-->
<!--<div class="right">-->
<!--<p><img>借款期限:<span>1000</span>天</p>-->
<!--<p><img>到账金额:<span>1125</span>元</p>-->
<!--</div>-->
<!--</div>-->
<!--<section id="examples">-->
<!--<div id="js-example-change-value">-->
<!--<br>-->
<!--<input type="range" min="0" max="100" value="50" data-rangeslider>-->
<!--<output></output>-->
<!--<input type="number" value="10"> <button class="button button&#45;&#45;small">确定</button>-->
<!--</div>-->
<!--</section>-->

<div class="faretext">
    <div class="title">
        <img src="./../imgs/revisedrate/counter_iconfont.png" />费用说明
    </div>
    <ul>
        <li class="faredetail">一、借款费用说明</li>
        <li>1.借款利息为<span>0.1%</span>/天, 服务费为
            <span>0.4%/天</span>。
        </li>
        <li>
            2.支持提前还款，服务费不减免；利息可减免，按实际借款天数收取。
        </li>
        <li>
            3.认证费为30元/笔，这笔费用由平台在款项到账前划扣。
        </li>
    </ul>
    <ul>
        <li class="faredetail">二、逾期费用说明</li>
        <li>
            若发生逾期，除利息及服务费照常收取外，将额外产生逾期服务费，逾期服务费自应还款日起开始计算，每日按借款金额的1%计收。
        </li>
    </ul>
    <ul>
        <li class="faredetail">三、友情提示</li>
        <li>
            请保持良好的还款习惯，若出现逾期不还记录，将直接影响到您的个人征信记录。
        </li>
    </ul>
</div>
