<form name="userForm" novalidate>
    <ul>
        <li class="tel">
            <img src="./../imgs/register/login_phone.png" />
            <input type="text" placeholder="{{vm.palceholder}}" ng-model="vm.userMobno" name="phone">
        </li>

        <li class="newpwd">
            <img src="./../imgs/register/denglu_key.png" />
            <input type="{{vm.icon_pwd_type}}" placeholder="请输入密码(6-20位数字+字母)" name="pwd" ng-model="vm.userPwd" required="">
            <img ng-click="vm.toggleEyes()" src="{{vm.icon_pwd_eyes}}">
        </li>
        <li class="agrent">
            <img src="{{vm.getCheckboxIcon()}}" ng-click="vm.toggleCheckbox()" /> 我同意
            <span>《借款服务与隐私协议》</span>
        </li>
        <li class="subbtn">
            <input type="button" value="登录" ng-click="vm.commitInfo()" ng-model="vm.bgcontent">
        </li>
    </ul>
</form>
<div class="bgcontent" ng-show="vm.bgcontent" ng-click="vm.bghide()">

</div>